html {
  @extend %font;
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-weight: 400;
  color: $color-dark;
  background-color: $color-light;
}
a {
  color: $color-dark;
  text-decoration: none;
  font-size: 1.5rem;
  @extend %transition;
  cursor: pointer;
  &:hover {
    color: $color-link;
  }
}
h1, h2 {
  font-weight: 700;
  line-height: 1.25;
  font-size: 1.8rem;
  color: $color-dark;
}
h3 {
  font-weight: 700;
  line-height: 1.25;
  font-size: 1.5rem;
  color: $color-dark;
}
p {
  font-size: 1.5rem;
  color: $color-second-dark;
  font-weight: 400;
  margin: 0;
  line-height: 1.34;
}
ul {
  padding: 0;
  margin: 0;
}
.container {
  padding-top: 100px;
}
button {
  border: none;
  @extend %transition;
}
li {
  list-style: none;
}
textarea {
  @extend %font;
  line-height: 1.32;
  color: $color-second-dark;
  opacity: 0.7;
  border: none;
  resize: none;
  font-size: 1.5rem;
  padding: 8px 24px 8px 0;
  width: 690px;
}