.header {
  background-color: $color-background-window;
  height: 56px;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.header__logo-img {
  margin-left: 10px;
  cursor: pointer;
}
.header-elements {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: space-between;
  .logo {
    display: flex;
    align-items: center;
  }
}