$color-dark: #14191e;
$color-second-dark: #676A79;
$color-light: #EFF2F6;
$color-link: #0f6fec;
$color-edit: #D6293D;

$color-background-window: #fff;
$color-background: #EFF2F6;
$color-icon-background: #EDF0F2;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;