$color-dark: #403F3D;
$color-light: #E1D4C9;
$color-accent: #B0907A;

$color-background-container: #665F55;
$color-background-backdrop: #403F3DCC;

$color-border-light: #C1B6AD;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;